In [3]:
import pandas as pd
import polars as pl
import ast

In [4]:
#df_movies = pl.read_csv("Dataset/movies_dataset.csv",ignore_errors=True)
df_movies = pd.read_csv("Dataset/movies_dataset.csv")

/tmp/ipykernel_225369/584581113.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv("Dataset/movies_dataset.csv")

In [5]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [6]:
df_movies['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [30]:
#df_filtrado = df_movies.clone()
df_filtrado = df_movies.copy()
df_filtrado = df_filtrado[['belongs_to_collection','genres', 'production_companies','production_countries','spoken_languages']]

In [31]:
df_filtrado['genres'] = df_filtrado['genres'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else None)
#df_filtrado['belongs_to_collection'] = df_filtrado['belongs_to_collection'].apply(ast.literal_eval)
df_filtrado['belongs_to_collection'] = df_filtrado['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else None)
df_filtrado['production_companies'] = df_filtrado['production_companies'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else None)
df_filtrado['production_countries'] = df_filtrado['production_countries'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else None)
df_filtrado['spoken_languages'] = df_filtrado['spoken_languages'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else None)

In [32]:
#print(df_filtrado['production_companies'].value_counts())
#print('---------')
#print(df_filtrado['production_countries'].value_counts())
#print('---------')
#df_filtrado['spoken_languages'].value_counts()

In [42]:
df_filtrado['id_genres'] = df_filtrado['genres'].apply(lambda x: [d['id'] for d in x])
df_filtrado['name_genres'] = df_filtrado['genres'].apply(lambda x: [d['name'] for d in x])

#df_filtrado['id_collection'] = df_filtrado['belongs_to_collection'].apply(lambda x: x['id'] if x is not None else None)
#df_filtrado['name_collection'] = df_filtrado['belongs_to_collection'].apply(lambda x: x['name'] if x is not None else None)
#df_filtrado['poster_collection'] = df_filtrado['belongs_to_collection'].apply(lambda x: x['poster_path'] if x is not None else None)
#df_filtrado['backdrop_collection'] = df_filtrado['belongs_to_collection'].apply(lambda x: x['backdrop_path'] if x is not None else None)

df_filtrado['id_prod_companies'] = df_filtrado['production_companies'].apply(lambda x: [d['id'] for d in x] if isinstance(x, list) else [])
#el codigo de abajo me lanza error: TypeError: 'float' object is not iterable
#df_filtrado['id_prod_companies'] = df_filtrado['production_companies'].apply(lambda x: [d['id'] for d in x] if x is not None else [])
#el codigo de abajo me lanza error: TypeError: 'NoneType' object is not iterable
#df_filtrado['id_prod_companies'] = df_filtrado['production_companies'].apply(lambda x: [d['id'] for d in x])
df_filtrado['name_prod_companies'] = df_filtrado['production_companies'].apply(lambda x: [d['name'] for d in x] if isinstance(x, list) else [])
#df_filtrado['name_prod_companies'] = df_filtrado['production_companies'].apply(lambda x: [d['name'] for d in x])

#df_filtrado['iso_prod_countries'] = df_filtrado['production_countries'].apply(lambda x: [d['iso_3166_1'] for d in x])
df_filtrado['iso_prod_countries'] = df_filtrado['production_countries'].apply(lambda x: [d['iso_3166_1'] for d in x] if isinstance(x, list) else [])
df_filtrado['name_prod_countries'] = df_filtrado['production_countries'].apply(lambda x: [d['name'] for d in x] if isinstance(x, list) else [])

#df_filtrado['iso_spoken_languages'] = df_filtrado['spoken_languages'].apply(lambda x: [d['iso_639_1'] for d in x])
df_filtrado['iso_spoken_languages'] = df_filtrado['spoken_languages'].apply(lambda x: [d['iso_639_1'] for d in x] if isinstance(x, list) else [])
df_filtrado['name_spoken_languages'] = df_filtrado['spoken_languages'].apply(lambda x: [d['name'] for d in x] if isinstance(x, list) else [])

In [45]:
df_filtrado.drop(['belongs_to_collection','genres','production_countries','spoken_languages','production_companies'], axis=1)

,id_genres,name_genres,id_prod_companies,name_prod_companies,iso_prod_countries,name_prod_countries,iso_spoken_languages,name_spoken_languages
0,"[16, 35, 10751]","[Animation, Comedy, Family]",[3],[Pixar Animation Studios],[US],[United States of America],[en],[English]
1,"[12, 14, 10751]","[Adventure, Fantasy, Family]","[559, 2550, 10201]","[TriStar Pictures, Teitler Film, Interscope Co...",[US],[United States of America],"[en, fr]","[English, Français]"
2,"[10749, 35]","[Romance, Comedy]","[6194, 19464]","[Warner Bros., Lancaster Gate]",[US],[United States of America],[en],[English]
3,"[35, 18, 10749]","[Comedy, Drama, Romance]",[306],[Twentieth Century Fox Film Corporation],[US],[United States of America],[en],[English]
4,[35],[Comedy],"[5842, 9195]","[Sandollar Productions, Touchstone Pictures]",[US],[United States of America],[en],[English]
...,...,...,...,...,...,...,...,...
45461,"[18, 10751]","[Drama, Family]",[],[],[IR],[Iran],[fa],[فارسی]
45462,[18],[Drama],[19653],[Sine Olivia],[PH],[Philippines],[tl],[]
45463,"[28, 18, 53]","[Action, Drama, Thriller]",[6165],[American World Pictures],[US],[United States of America],[en],[English]
45464,[],[],[88753],[Yermoliev],[RU],[Russia],[],[]
45465,[],[],[],[],[GB],[United Kingdom],[en],[English]